<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="/stylesheets/docker.css" rel="stylesheet" type="text/css"> 
    <link href="https://fonts.googleapis.com/css2?family=Kumar+One+Outline&amp;display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6aaca85f05.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <h1 class="texto">Contenedores Docker</h1>

    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="http://127.0.0.1:3000"><i></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse texto" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" style="color: #fff;" href="http://127.0.0.1:3000">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item texto">
                    <a class="nav-link" style="color: #fff;" href="#">API Rest</a>
                </li>
                <li class="nav-item texto">
                    <a class="nav-link" style="color: #fff;" href="http://127.0.0.1:3000/equipo">Equipo</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="color: #fff;"href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Más Sobre Docker
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="/docker" >Introduccion a Docker</a>
                                    <a class="dropdown-item" href="/imagenes" >Imagenes Docker</a>
                                    <a class="dropdown-item" href="">Archivo Dockerfile</a>
                                    <a class="dropdown-item" href="">Directivas Dockerfile</a>
                                    <a class="dropdown-item" href="">Ciclo de vida de los Contenedores</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
 
    <div class="one">
        <div class="container" style="margin:auto;width: 70%;">
            <div class="row">
                <div class="col-lg-12 border texto">
                    Hoy en día existe una cantidad considerable de aplicaciones, mismas que en su tiempo fueron desarrolladas y puestas a prueba para su funcionamiento eficiente. Cuando se desarrolla software siempre existe la posibilidad de que se tengan complicaciones, ya sea en el ámbito de la construcción, distribución y ejecución del código. Docker viene a solucionar parte de estas complicaciones, hoy en día es una herramienta de gran ayuda es muy importante conocerlo.
Docker es una plataforma abierta para desarrollar, enviar y ejecutar aplicaciones. Permite separar sus aplicaciones de su infraestructura para que se pueda entregar software rápidamente. 
Actualmente al aprovechar su metodología para enviar, probar e implementar código de manera rápida se puede reducir significativamente el retraso entre escribir código y ejecutarlo en producción. A continuación, te mostraremos parte de lo que es Docker como sus distintos conceptos y algunos ejemplos de su implementación.
                </div>
                <div class="col-lg-12" style="text-align: center;margin-bottom: 40px;">
                    <img src="/Recursos/docker-tutorial.webp" style="width: 40%;text-align: center; padding-top: 20px;">
                </div>
            </div>
        </div>
    </div>

    <div class="segundo">
        <h4 style="color: #fff;text-align: center; padding: 35px 0;">Mas Acerca de Docker</h4>
    </div>

    <div class="tercer" style="text-align: center;width: 80%; margin: auto;">
        <div class="row mx-5 flex" style="text-align: center; justify-content: center;margin: 30px 0;" >
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Recursos/ImgAlu1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Introduccion a Docker</h5>
                        <p class="card-text">Conozca una Introduccion de Docker, que es y para que se utiliza...</p>
                        <a href="http://127.0.0.1:3000/docker" class="btn btn-primary">Ver</a>
                    </div>
                </div>
            </div>


            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Recursos/docker-swarm-crear-cluster-debian-3.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Imagenes Docker</h5>
                        <p class="card-text">Conozca que son las imagenes de Docker, para que se usan y cuales son sus caracteristicas...</p>
                        <a href="/imagenes" class="btn btn-primary">Ver</a>
                    </div>
                </div>
            </div>


            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Recursos/docker_imagenes_contenedores.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Contenedores</h5>
                        <p class="card-text">Conozca que son los Contenedores, para que se usan y cuales son sus caracteristicas...</p>
                        <a href="/contenedores" class="btn btn-primary">Ver</a>
                    </div>
                </div>
            </div>
        </div>




        
        <div class="row mx-5 flex" style="text-align: center; justify-content: center;margin: 30px 0;" >
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Recursos/dockerfile.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Archivos DockerFile</h5>
                        <p class="card-text">Conozca que son los Archivos DockerFile, para que se usan y cuales son sus caracteristicas...</p>
                        <a href="/dockerfiles" class="btn btn-primary">Ver</a>
                    </div>
                </div>
            </div>


            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Recursos/ImgAlu1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Directivas DockerFile</h5>
                        <p class="card-text">Conozca que son las Directivas DockerFile, para que se usan y cuales son sus caracteristicas...</p>
                        <a href="#" class="btn btn-primary">Ver</a>
                    </div>
                </div>
            </div>


            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Recursos/ImgAlu1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Ciclo de vida de los Contenedores</h5>
                        <p class="card-text">Conozca que son los Ciclo de vida de los Contenedores, para que se usan y cuales son sus caracteristicas...</p>
                        <a href="#" class="btn btn-primary">Ver</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="footer texto" style="text-align: center;">
            <p style="padding-top: 30px;">Proyecto Final - SCRUM y Tecnologías</p>
            <p>UNAM - FES ARAGÓN</p>
            <p>Equipo : TESLAS</p>
        </div>
        




  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script></body>
</html>